.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
}

.title {
  color: white; /* Changed to white */
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 1.75px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 100%;
  max-width: 1200px;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  width: 120px;
}

.skillImageContainer {
  background-color: var(--color-secondary);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 110px;
  height: 110px;
  transition: 
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.skill:hover .skillImageContainer {
  transform: scale(1.05);
  box-shadow: 
    0 0 10px rgba(0, 255, 0, 0.7),   /* Green neon glow */
    0 0 20px rgba(0, 255, 0, 0.5);
}

.skillImageContainer img {
  width: 65px;
  transition: transform 0.3s ease;
}

.skill:hover .skillImageContainer img {
  transform: rotate(360deg);
}

.skill p {
  color: white; /* Changed to white */
  font-size: 1rem;
  font-weight: 500;
}

.history {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.historyItem {
  display: flex;
  align-items: center;
  gap: 2rem;
  background-color: var(--color-secondary);
  border-radius: 1rem;
  padding: 1.5rem;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.historyItem {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.historyItem::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.4),
    rgba(135, 206, 250, 0.2),
    transparent
  );
  transform: translate(-50%, -50%);
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.historyItem:hover::before {
  animation: middleWave 1.5s ease-out;
  opacity: 1;
}

@keyframes middleWave {
  0% {
    width: 0;
    height: 0;
    opacity: 0.6;
  }
  50% {
    width: 150%;
    height: 150%;
    opacity: 0.3;
  }
  100% {
    width: 200%;
    height: 200%;
    opacity: 0;
  }
}



.historyItem:hover {
  transform: scale(1.02);
}

.historyItem:hover::before {
  transform: rotate(45deg);
}

.historyItem img {
  width: 50px;
  height: 50px;
  object-fit: contain;
  z-index: 1;
}

.historyItemDetails {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  z-index: 1;
}

.historyItemDetails h3 {
  color: white; /* Changed to white */
  font-size: 1.25rem;
  font-weight: 600;
}

.historyItemDetails p {
  color: white; /* Changed to white */
  font-size: 1rem;
}

.historyItemDetails ul {
  margin-top: 0.5rem;
  list-style-type: disc;
  padding-left: 1.5rem;
}

.historyItemDetails li {
  color: white; /* Changed to white */
}
